<h1 class="page-header">ARP/AR3s</h1>

<% if @arps.empty? %>
    <div class="jumbotron">
        <h1>There are No ARPs that meet your search criteria</h1>
        <p>Try searching with something different</p>
    </div>
<% else %>
    <%= render 'arps/arp_list', arps: @arps %>
<% end %>