<div class="container">
  <h2 class="page-header">Upload a spreadsheet to update or create mass lines</h1>
  <%= render 'mass_line_upload_form' %>
  <h2 class="page-header">Create a single new Mass Line</h1>
  <%= render 'mass_line_form', mass_line: @mass_line %>
</div>