<%= link_to generate_arps_spreadsheet_path(@spreadsheet),  class: 'btn btn-primary pull-right', style: 'margin-right: 5px;' do %>
    <span class="glyphicon glyphicon-refresh"></span> Generate All
<% end %>&nbsp;
<%= link_to download_spreadsheet_path(@spreadsheet, format: 'csv'),  class: 'btn btn-primary pull-right', style: 'margin-right: 5px;' do %>
    <span class="glyphicon glyphicon-download"></span> Download
<% end %>
<%= link_to images_to_rename_spreadsheet_path(@spreadsheet),  class: 'btn btn-primary pull-right', style: 'margin-right: 5px;' do %>
    <span class="glyphicon glyphicon-picture"></span> View Files that need Renaming
<% end %>

<h1>ARPS Associated with Spreadsheet</h1>

<%= render 'arps/arp_list', arps: @spreadsheet.arps %>